<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"
    lang="en"> 
    <head> 
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" /> 
		<meta http-equiv="Content-Language" content="pl" /> 
        <link rel="stylesheet" href="/media/style.css" type="text/css" media="all" />
		<link rel="stylesheet" href="/media/redmond/jquery-ui-1.8.6.custom.css" type="text/css"/>
		<!--[if !IE 7]>
			<style type="text/css">
				#container {display:table;height:100%}
			</style>
		<![endif]-->
		<script type="text/javascript" src="/media/jquery.js"></script>
		<script type="text/javascript" src="/media/jquery-ui-1.8.6.custom.min.js"></script>	
		<script type="text/javascript"> 
			$(document).ready(function(){
				$("ul.subnav").parent().append("<span></span>"); //Only shows drop down trigger when js is enabled (Adds empty span tag after ul.subnav*)

				$("ul.topnav li a:first-child").mouseover(function(){
					$(this).parent().find("ul.subnav").slideDown('fast').show();
					
					$(this).parent().hover(function() {
					}, function(){
						$(this).parent().find("ul.subnav").slideUp('slow'); 
					});
					
					//Following events are applied to the trigger (Hover events for the trigger)
					}).hover(function() {
						$(this).addClass("subhover"); //On hover over, add class "subhover"
					}, function(){	//On Hover Out
						$(this).removeClass("subhover"); //On hover out, remove class "subhover"
					
				});
			});
		</script>
		
		<script type="text/javascript" charset="utf-8"> 
	 		$(document).ready( function () {
				$( "#isuggest, #vsuggest" ).autocomplete({
					source: function( request, response ) {
						$.ajax({
							url: "{% url polls.views.tag_autocomplete %}",
							dataType: "json",
							data: {
								featureClass: "P",
								style: "full",
								maxRows: 12,
								name_startsWith: request.term
							},
							success: function( data ) {
								response( $.map( data.cellnames, function( item ) {
									return {
										label: item,
										value: item
									}
								}));
							}
						});
					},
					minLength: 2,
					open: function() {
						$(".ui-autocomplete li.ui-menu-item:odd a").addClass("ui-menu-item-alternate");
						$( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
					},
					close: function() {
						$( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
					}
				});
			});
		</script>
		<script type="text/javascript" src="/media/placeholder.js"></script>
		{% block extrahead %}{% endblock %}
    </head> 
    <body> 
        <div id="container"> 
            <div id="header"> 
                <div class="logo"> 
                    <a href="/polls/about"><img src="/media/head.jpg" alt="" style="border:none;" /></a>
				</div> 
                    <ul class="topnav">
						<li><a href="/polls/search/">Home</a></li>
						<li><a href="/polls/summary/">Summary</a></li>   
					    <li>
					        <a href="#">Retain</a>
					        <ul class="subnav">
					            <li><a href="/polls/worst-cells/dcr">DCR</a></li>
					            <li><a href="/polls/worst-cells/irat_ho">IRAT HO</a></li>
					        </ul>
					    </li>
						<li>
					        <a href="#">Access</a>
					        <ul class="subnav">
					            <li><a href="/polls/worst-cells/hdrab">HSDPA Rab</a></li>
					            <li><a href="/polls/worst-cells/hurab">HSUPA Rab</a></li>
								<li><a href="/polls/worst-cells/rrc">RRC Setup</a></li>
					        </ul>
					    </li> 
                        <li><a href="/polls/about">About</a></li> 

					<div id="hsearch">  
						<form action="/polls/search/" method="post">
						{% csrf_token %}
							<div class="ui-widget">
								<input id="isuggest" type="search" class="search placeholder" name="cellname" placeholder="Search&hellip;"/>
								<input type="submit" value="Search" class="button" /> 
							</div>
							<!-- <input type="submit" value="Search" class="btn" />	 -->
						</form> 
					</div>
					</ul> 
			</div>
			<div id="content">
				{% block content %}{% endblock %}
			</div>
			<div id="push"></div> 
		</div>
		<div id="footer">
			<p> 
			&copy; 2010 made by <a href="mailto:huzhili@gmail.com">huzhili</a>, inspired by <a href="mailto:huanglq11@chinaunicom.cn">huangliqun</a> <a href="mailto:hesy23@chinaunicom.cn">heshunyang</a> 
			</p>
		</div>
    </body>
</html>
