{% extends "base.html" %}
{% block extrahead %}
	<title>Worst Cells</title>
	<link rel="stylesheet" href="/polls/site_media/datatable.css" type="text/css" media="print, projection, screen" />
	<link rel="stylesheet" href="/polls/site_media/redmond/jquery-ui-1.8.6.custom.css" type="text/css"/>
	<!-- <link rel="stylesheet" href="/polls/site_media/demo_table_jui.css" type="text/css" /> -->
	<script type="text/javascript" src="/polls/site_media/Autocomplete/jquery.js"></script> 
	<script type="text/javascript" src="/polls/site_media/jquery.dataTables.min.js"></script>
	<script type="text/javascript" charset="utf-8"> 
		$(document).ready( function () {
			$('#example1').dataTable( {
				"sDom": 'C<"clear">lfrtip', "bFilter": false,"bInfo": false, "bPaginate": false,
				// "bJQueryUI": true
			} );
			$('#example2').dataTable({"oLanguage":{ "sSearch": "Custom filter" }}, {
				"sDom": 'C<"clear">lfrtip',
				// "bJQueryUI": true
			} );
		} );
	</script>
	<script src="/polls/site_media/jquery-ui-1.8.6.custom.min.js"></script>
	<script type="text/javascript">
        jQuery(function() {
           jQuery("#id_selectedDate").datepicker({ dateFormat: 'dd/mm/yy' });
        });
    </script>
{% endblock %}

{% block content %}
	<div id = 'selecteddate'>
		{% if titleMsg == "Drop Call Rate" %}
		<form action="{% url polls.views.changedate 'dcr' %}" method="post">
		{% else %}
		<form action="{% url polls.views.changedate 'irat_ho' %}" method="post">
		{% endif %}
		{% csrf_token %}
			{{ form }} 
			<input type="submit" value="Go" />                                
		</form>
	</div>
	<div id = 'sub'>
        <h1>RNC {{titleMsg}}</h1> 
		<table table23 cellspacing="1" class="display" id="example1">
			<thead> 
			<tr> 

			    <th>{{ColumnsHeader.1}}</th>
				<th>{{ColumnsHeader.2}}</th>
				<th>{{ColumnsHeader.3}}</th>
				<th>{{ColumnsHeader.4}}</th>
				<th>{{ColumnsHeader.5}}</th>
			</tr> 
			</thead>
			<tbody>
			{% for k in rnc_kpi %} 
			<tr>
				<td> {{k.0}}</td>
	 			<td> {{k.1}} </td>
				<td> {{k.2}} </td>
				<td> {{k.3}} </td>
				<td> {{k.4}} </td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
		
<div id="main">

	<h1>TopN {{titleMsg}}</h1> 
	<table table cellspacing="1" class="display" id="example2">
		<thead> 
		<tr> 
			{% for col in ColumnsHeader %}
		    <th>{{col}}</th>
		    {% endfor %}
		</tr> 
		</thead> 
		<tbody>
			{% for kpi in kpi_list %} 
			 <tr>
				<td><a href="{% url polls.views.results kpi.ucell.cell_name %}">{{ kpi.ucell.cell_name }}</a></td>
				<td>{{ kpi.ucell.rnc_id }}</td>
				<td>{{ kpi.date }}</td>
				<td>{{ kpi.part }}</td> 
				<td>{{ kpi.all }} </td>
				<td>{{ kpi.rate}} </td>	
			 </tr> 
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}